/*
	font-family: 'Roboto', sans-serif;
	font-family: 'Do Hyeon', sans-serif;
	font-family: 'Oswald', sans-serif:;
*/
body{
		font-family: 'Roboto', sans-serif;
		font-family: 'Do Hyeon', sans-serif;
}
h1{font-family: 'Do Hyeon', sans-serif;
}
h4{font-family: 'Oswald', sans-serif;
}
a{color: #4277ce;

}
a:hover{
	color:#092756 
}