
body{

margin: 0;
}

#logo{
	height:150px;
}

/* header Style */

header h1{
	display:inline-block;
}


header{
	background-color:orange;
	border: 5px solid;
	
}
header h2{
	display:inline-block;
}

form.global-search{
	display:inline-block;
	background-color: brown;
}

ul.social-media{
	display: inline-block;
	margin:0;
	list-style: none;
	padding:0;
}

ul.social-media li{
	display: inline-block;
}

ul.menu{
	display: inline-block;
	margin:0;
	list-style: none;
	padding:0;

}


			
ul.menu li{
	display: inline-block;
}

nav ul.menu li a{
	padding:20px;
	;
}

body{
	background-color:#FDEE1D;
}

footer{
	background-color:orange;
}