/* 
primary(white)  -#D9D9D9
secondary(grey)	-#A6A6A6
text (black)	-#1F1F1F
4th				-#00B2F2
5th				-#8C4CES */

/*font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;*/

header div{
	text-align: center;
}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 49px;
	letter-spacing: 3px;
}
.body_content{
	font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

header h2{
	font-family: font-family: 'PT Sans', sans-serif;
	line-height: 2.7;
}

.social_icon li {
	font-size: 4em;
	letter-spacing: 10px;
}

a{
	text-decoration: none;
	color:black; 
}
	
	a:hover{
		font-size: 150%;
	}

nav li a:hover{
	color: yellow;
	font-size: 2em;
}
	a:active{
		text-decoration: underline;
	}

.news li p{
	text-align: justify;
}

.news h3{
	font-size: 17px;
    text-indent: 10px;
}

.main_content h5{
	font-size: 15px;
}