/* 
primary(white)  -#D9D9D9
secondary(grey)	-#A6A6A6
text (black)	-#1F1F1F
4th				-#00B2F2
5th				-#8C4CES */

/*font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;*/

body{
	font-family: 'PT Sans', sans-serif;
}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 5px;
}

ul.social_icon{
	text-decoration: none;
	list-style-type: none;
}
ul.nav_list li{
	list-style-type: none;
	text-decoration: none;
}

