/*
font-family: 'PT Sans', sans-serif;
font-family: 'Monoton', cursive;

*/


body{
	font-family: 'PT Sans', sans-serif;
}

h1{
	font-family: 'Monoton', cursive;
}

a{
	color: #E82C0C;
}
	
	a:hover{
	color: #E80C7A;
	}