body{
	margin: 0;
	position: static;
}
/*Header*/


	
}

h1{
	display:inline-block;
}


header{
	background-color: green;
	position: relative;
	height: 0 auto;
	background-color:transparent;
	border: 1px solid;
}	
.wrapper{
	background-color:yellow;
	width:1000px;
	margin: 0px;
	position: relative;
}

h2{
	display:inline-block;
}

/*Form*/
form.global-search{
	display:inline-block;
	
}

ul.social-media{
	display: inline-block;
	margin:0;
	list-style: none;
	padding:0;
}

ul.social-media li{
	display: inline-block;
}

ul.menu{
	display: inline-block;
	margin:0;
	list-style: none;
	padding:0;

}


			
ul.menu li{
	display: inline-block;
}

nav ul.menu li a{
	padding:20px;
	;
}

.panes{
	float: left;

}
.left-pane{
	width: 30%;
}

.right-pane{
	width: 70%;
}

footer{
	background-color:orange;
	padding: 20px;
}